# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea/
.idea_modules

# Play
logs
project/project
tmp
.history
dist
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings