@(hogeForm: Form[(Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean, Boolean)],players:List[GamePlayer])
@import controllers.nazotoki.GamePlayer

@import helper._


@main("GroupSetting") {
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-labelauty.css")">

    </head>
    <body>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-labelauty.js")" type="text/javascript"></script>


        @helper.form(action = routes.Application.result()) {
            <div class="row">
                <div class="col-md-1">
                <h3>Config</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <input class="to-labelauty" id="enableMaster" name="enableMaster"  type="checkbox" data-labelauty="経験者が居なくてもいい|必ず経験者がいる" value="true" checked/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <input class="to-labelauty" id="enableGender" name="enableGender"  type="checkbox" data-labelauty="男女混合じゃなくてもいい|必ず男女混合にする" value="true" checked/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <input class="to-labelauty" id="enableFriends" name="enableFriends"  type="checkbox" data-labelauty="友人が居なくてもいい|必ず友人がいる" value="true" checked/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <input class="to-labelauty" id="enableMarried" name="enableMarried"  type="checkbox" data-labelauty="未婚の異性が居なくてもいい|必ず未婚の異性がいる" value="true" checked/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <input class="to-labelauty" id="enablePair" name="enablePair"  type="checkbox" data-labelauty="酋長/ゆかりが同じグループじゃなくてもいい|酋長/ゆかり同グループ" value="true" checked/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <h3>TodayPlayer</h3>
                </div>
            </div>
            @players.map{player =>
                <div class="row">
                    <div class="col-md-1">
                        <input class="to-labelauty" id="@player.name" name="@player.name"  type="checkbox" data-labelauty="@player.jname" value="true" checked/>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default btn-lg">LIST!</button>
                </div>
            </div>
            }
    </body>
    <script>
    $(document).ready(function(){
    $(".to-labelauty").labelauty({ minimum_width: "350px" });
    $(".to-labelauty-icon").labelauty({ label: true });
    });
    </script>
}
